div .button-board {
    margin-top: 10px;
}

.row {
    margin-bottom: 2px;
    margin-right: 0;
    margin-left: 0;
    border: solid black;
    border-width: 1px;
}

.row-header {
    background-color: dimgray;
    font-weight: bold;     
}

.commonline {
    background-color: lightgray;
}
