<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  <style>
    body {
      font-size: 1.3em;
    }
  </style>
  <title>Name Calculator</title>
</head>

<body ng-app="NameCalculator">

  <div ng-controller="NameCalculatorController">

    <div class="container">

      <h2>Timesheet Control</h2>
      <div class="row row-header">
        <div class="col-md-3">
          Name
        </div>
        <div class="col-md-3">
          Entry
        </div>
        <div class="col-md-3">
          Exit
        </div>
        <div class="col-md-3">
          Comment
        </div>
      </div>

      <div ng-repeat="x in timesheet" class="row commonline">
        <div class="col-md-3">
          {{x.name}}
        </div>
        <div class="col-md-3">
          {{x.entry}}
        </div>
        <div class="col-md-3">
          {{x.exit}}
        </div>
        <div class="col-md-3">
          {{x.comment}}
        </div>
      </div>

      <div class="button-board">

        <button class="btn btn-primary" ng-click="retrieveTimesheetData()">Get Data</button>

      </div>


    </div>

  </div>
</body>

</html>